<!-- コード追記（5-3（P.180）） -->
{% extends 'base.html' %}

{% block title %}本棚アプリ{% endblock %} <!-- コード修正（5-12（P.261）） -->
{% block h1 %}本棚アプリ{% endblock %} <!-- コード修正（5-12（P.261）） -->

{% block content %}
<!-- コード追記（5-12（P.261）） -->
<div class="row">
  <div class="col-9">
    {% for item in object_list %}
    <div class="p-4 m-4 bg-light border border-success rounded">
      <h2 class="text-success">{{ item.title }}</h2>
      {% if item.thumbnail %}<!-- このif文は管理画面の各アイテムの画像フィールドに登録が無い場合を考えてのこと、登録が一つでもないと「item.thumbnail.url」が使えず、エラーになる -->
        <img src="{{ item.thumbnail.url }}" class="img-thumbnail" /><!-- コード追記（5-8（P.242）） -->
      {% endif %}
      <h6>カテゴリ：{{ item.category }}</h6>
      <div class="mt-3">
        <a href="{% url 'detail-book' item.pk %}">詳細へ</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-3">
    <h2>評価順 TOP：{{ item_per_page }}</h2> <!-- コード修正（5-14（P.275）） -->
    {% for ranking_book in page_obj %} <!-- コード修正（5-14（P.275）） -->
    <div class="p-4 m-4 bg-light border border-success rounded">
      <h3 class="text-success h5">{{ ranking_book.title }}</h3>
      {% if ranking_book.thumbnail %} <!-- このif文は管理画面の各アイテムの画像フィールドに登録が無い場合を考えてのこと、登録が一つでもないと「ranking_book.thumbnail.url」が使えず、エラーになる -->
        <img src="{{ ranking_book.thumbnail.url }}" class="img-thumbnail">
      {% endif %}
      <h6>評価：{{ ranking_book.avg_rating | floatformat:2 }}点</h6> <!-- コード修正（5-12（P.265）） -->
      <a href="{% url 'detail-book' ranking_book.id %}">詳細を見る</a>
    </div>
    {% endfor %}
    {% include 'book/components/pagination.html' %} <!-- コード追加（5-14（P.275）） -->
  </div>
</div>
{% endblock content %}

